<h1>Forums</h1>
<% @forums.each do |forum| %>
<div class="forum row clearfix">
  <h2>
  <%= link_to forum.title,forum %><br>
  <small class="author">Created <%=time_ago_in_words(forum.created_at) %> by <%=forum.user.email%></small>
  </h2>
  <!--UPVOTE AND DOWNVOTE-->
  <div class="btn-group">
    <%= link_to "Checkout Forum", forum_path(forum),class:"btn btn-default btn-sn"%>
  </div>
</div>
<%end%>