<p>
  <strong>Title:</strong>
  <%= @forum.title %>
</p>

<p>
  <strong>Question:</strong>
  <%= @forum.question %>
</p>

<% if @forum.user == current_user%>
<%= link_to 'Edit', edit_forum_path(@forum) %>
<%end%>
<%= link_to 'Back', forums_path %>
