// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-reviews {
    border: 2px solid #F05F40;
    border-radius: 5px;
    padding: 20px 20px;
    margin: 10px 10px;
    background-color: white;
}

.other-review {
    border: 2px solid #F05F40;
    border-radius: 5px;
    padding: 20px 20px;
    margin: 10px 10px;
    background-color: white;

    h1 {
        color: #F05F40;
    }
}